
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

.container {
  padding: 0 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.top {
  width: 100%;
}

.title {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -2px;
  text-transform: uppercase;
  color:rgb(67, 67, 67);
  font-weight: 600;
  margin: 50px 0 0 0;
}

.title2 {
  text-transform: uppercase;
  margin: 0;
  color:rgb(92, 92, 92);
}


.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color:rgb(67, 67, 67);
}

.lh {

  letter-spacing: 1px;
  font-size: 1rem
}

.list {
  font-size: 1.5rem;
  list-style: bullet;
  margin: 15px 0 15px 0;
  padding: 0 0 0 25px;
  line-height: 2rem;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

a.link {
  text-decoration: underline;
}

.photo {
  object-fit: contain;
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.footer {
  width: 100%;
  
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0 200px 0;
}

@media screen and (max-width: 500px) {
  
  .title {
    font-size: 2rem; 
    letter-spacing: 0;
  }
  .title2 {
    font-size: 1.5rem; 
    letter-spacing: 0;
  }
  .text {
    font-size: 1.2rem; 
    line-height: 2rem;
  }
}
  